/* .background-pic{
  background-image: url('https://images.unsplash.com/photo-1591033594798-33227a05780d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2559&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
} */
